:root {
    --rem: 14;
    --bs-blue: #0F3A8E;
}

body {
    font-size: calc(1.0625px * var(--rem));
    letter-spacing: calc(0px * var(--rem));
    line-height: calc(2px * var(--rem));
}

p {
    color: #5a5872;
}

section {
    padding: 2rem;
}

section#about {
    padding: 0;
}
.bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

section:nth-child(even) {
    background: #fcfcfc
}

section:nth-child(odd) {
    background: #FFF
}

section h2 {
    font-weight: 800;
}

h2 {
    color: #333;
    /*padding: 1rem 1rem 3rem 0;*/
    /*margin-bottom: 1rem;*/
}

h4 {
    color: #CB3142;
}

.about_area {
    position: relative;
}

.about_content {
    padding-bottom: 130px;
    padding-top: 120px;
    padding-right: 50px;
    min-height: 400px;
}

.about_image {
    background-image: url("../images/grouphands.jpg");
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about_image {
        width: 100%;
        height: 500px;
        position: relative;
    }
}

@media (max-width: 767px) {
    .about_image {
        width: 100%;
        height: 400px;
        position: relative;
    }
}

#social {
    margin: 50px 0;
}

.nav-item a {
    font-weight: bold;
    padding: .2rem 1rem !important;
    border-bottom: 3px solid Transparent;

}

.nav-item.active a,
.nav-item a:hover {
    color: #fff;
    border-bottom: 3px solid #CB3142;
}


.social ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

.social a {
    padding: 7px;
    color: black;
    display: inline-block;
    text-decoration: none;
}

.social a:not(:first-child) {
    margin-left: 20px;
}

.social i {
    vertical-align: middle;
    transition: color .3s ease-in-out;
}

.social a:nth-child(1):hover i {
    color: #3B5998;
}

.social a:nth-child(2):hover i {
    color: #4099FF;
}

.social a:nth-child(3):hover i {
    color: #007bb6;
}

.social a:nth-child(4):hover i {
    color: #ccc;
}

.social a:nth-child(5):hover i {
    color: steelblue;
}

.card {
    margin-bottom: 1rem;
    border: 0;
    border-radius: 0;
}

.card:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.card h5 {
    color: #CB3142;
}

.card img {
    color: #ccc;
    fill: #f00;
    width: 30%;
    min-width: 100px;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
}

#action .card h5,
#action .card p {
    text-align: center;
}

/*-----*/
/*===========================
     02.HEADER css
===========================*/
/*===== NAVBAR =====*/
.header_navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.sticky {
    position: fixed;
    z-index: 99;
    background-color: #fff;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.sticky .navbar {
    padding: 15px 0;
}

.navbar {
    padding: 20px 0;
    border-radius: 5px;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    width: 150px;
}

@media (max-width: 767px) {
    .navbar-brand img {
        width: 130px;
    }
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 5px 12px;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 5px 12px;
    }
}

.navbar-nav .nav-item {
    position: relative;
    margin-left: 40px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item {
        margin-left: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item {
        margin: 0;
    }
}

.navbar-nav .nav-item a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 10px 0;
    position: relative;
}

.navbar-nav .nav-item a::before {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a::before {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item a::before {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0;
        color: #222;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0;
        color: #222;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a.active, .navbar-nav .nav-item a:hover {
        color: #E84E4E;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item a.active, .navbar-nav .nav-item a:hover {
        color: #E84E4E;
    }
}

.navbar-nav .nav-item a.active::before, .navbar-nav .nav-item a:hover::before {
    width: 100%;
}

.navbar-nav .nav-item:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item:hover .sub-menu {
        top: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item:hover .sub-menu {
        top: 0;
    }
}

.navbar-nav .nav-item .sub-menu {
    width: 200px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 110%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible;
    }
}

.navbar-nav .nav-item .sub-menu li {
    display: block;
}

.navbar-nav .nav-item .sub-menu li a {
    display: block;
    padding: 8px 20px;
    color: #222;
}

.navbar-nav .nav-item .sub-menu li a.active, .navbar-nav .nav-item .sub-menu li a:hover {
    padding-left: 25px;
    color: #E84E4E;
}

.navbar-nav .sub-nav-toggler {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .sub-nav-toggler {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        color: #222;
        font-size: 18px;
        border: 0;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 767px) {
    .navbar-nav .sub-nav-toggler {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        color: #222;
        font-size: 18px;
        border: 0;
        width: 30px;
        height: 30px;
    }
}

.navbar-nav .sub-nav-toggler span {
    width: 8px;
    height: 8px;
    border-left: 1px solid #222;
    border-bottom: 1px solid #222;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -5px;
}

.sticky .navbar-toggler .toggler-icon {
    background-color: #222;
}

.sticky .navbar-nav .nav-item a {
    color: #222;
}

.sticky .navbar-nav .nav-item a::before {
    background-color: #E84E4E;
}

.sticky .navbar-nav .nav-item a.active, .sticky .navbar-nav .nav-item a:hover {
    color: #E84E4E;
}

/*===== hero =====*/
.single_hero {
    height: 750px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

@media only screen and (min-width: 1400px) {
    .single_hero {
        height: 950px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_hero {
        height: 700px;
    }
}

@media (max-width: 767px) {
    .single_hero {
        height: 650px;
    }
}

.single_hero::before {
    position: absolute;
    content: '';
    background-color: rgba(43, 42, 61, 0.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.hero_content {
    padding-top: 50px;
}

.hero_content .hero_title {
    font-size: 60px;
    line-height: 85px;
    color: #fff;
    margin-top: 15px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero_content .hero_title {
        font-size: 44px;
        line-height: 65px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero_content .hero_title {
        font-size: 40px;
        line-height: 60px;
    }
}

@media (max-width: 767px) {
    .hero_content .hero_title {
        font-size: 24px;
        line-height: 38px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .hero_content .hero_title {
        font-size: 40px;
        line-height: 60px;
    }
}

.hero_content .hero_title span {
    display: contents;
    color: #E84E4E;
}

.hero_content p {
    font-size: 16px;
    color: #fff;
    margin-top: 30px;
}

@media (max-width: 767px) {
    .hero_content p {
        font-size: 16px;
    }
}

.hero_content .main-btn {
    margin-top: 45px;
}
